#header {    
    border-bottom:solid 3px blue;
    /*background-color:blue;*/
/*
    background-image: url("freemat_small_mod_64.png");
    background-repeat :no-repeat;
    padding-left:5em;
    padding-bottom:.5em;
*/
    margin-left: 1em;
    margin-right: 1em;
}
#header a {
    text-decoration:none;
    color:blue;
}

#header h1 {
    /*border: solid 1px green;*/
    margin-bottom:0.2em;
}
#content {
    margin-left: 1em;
    margin-right: 1em;
    /*border: dashed 1px red;*/
}
#footer {
    margin-left: 1em;
    margin-right: 1em;   
    color:gray;
    font-style:oblique;
    font-size:smaller;
    text-align:right;
    border-top: blue solid 3px
}

